# 1. Ignore everything by default
*

# 2. Allow directories so Git can search them
!*/

# 3. Whitelist specific file extensions
!*.cpp
!*.md
!*.hpp
!*.h

# 4. Specifically allow .gitignore itself
!.gitignore


!/CppProperties.json
./CMakeLists.txt